.mat-card {
    display: inline-flex;
    height:10vh;
    width: 29%;
    margin: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-card-header {
    display: inline-block;
}

.mat-card-content {
    display: block;
    width: 100%;
}