<div>
  <form class="actionForm">
    <mat-form-field>
      <input matInput id="isbn" name="isbn" #isbn placeholder="ISBN">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Reader ID" name="readerId" id="readerId" #readerId>
    </mat-form-field>

    <button mat-icon-button style="width:40px">
      <button mat-fab color="primary" (click)="postData(isbn,readerId);">Add <i class="material-icons">add</i></button>
    </button>
  </form>
</div>

<div class="responseMsg">{{responseMsg}}</div>