<div>
  <mat-tab-group class="addItemForm">
    <mat-tab label="Add Book">
      <form id="bookForm" #bookForm class="actionForm">
        <mat-form-field>
          <input name="bookTitle" matInput id="bookTitle" #bookTitle placeholder="Enter Book Title">
        </mat-form-field>

        <mat-form-field>
          <input name="bookIsbn" matInput id="bookIsbn" #bookIsbn placeholder="Enter ISBN">
        </mat-form-field>

        <mat-form-field>
          <mat-select name="sector" id="sector" #sector placeholder="Select Sector">
            <mat-option [value]="'Novels'">Novels</mat-option>
            <mat-option [value]="'SciFi'">SciFi</mat-option>
            <mat-option [value]="'Thriller'">Thriller</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input name="author" id="author" matInput #author placeholder="Enter Author">
        </mat-form-field>

        <mat-form-field>
          <input name="publisher" id="publisher" matInput #publisher placeholder="Enter Publisher">
        </mat-form-field>

        <mat-form-field>
          <input name="pageCount" id="pageCount" matInput #pageCount type="number" placeholder="Page Count">
        </mat-form-field>

        <button mat-icon-button style="width:40px">
          <button mat-fab color="primary" (click)="postBookData(bookTitle, bookIsbn, sector, author, publisher, pageCount);">Add <i class="material-icons">add</i></button>
        </button>
      </form>
    </mat-tab>

    <mat-tab label="Add DVD">
        <form  id="dvdForm" #dvdForm class="actionForm">
          <mat-form-field>
            <input matInput name="dvdTitle" id="dvdTitle" #dvdTitle placeholder="Enter DVD Title">
          </mat-form-field>
  
          <mat-form-field>
            <input matInput name="dvdIsbn" id="dvdIsbn" #dvdIsbn placeholder="Enter ISBN">
          </mat-form-field>
  
          <mat-form-field>
            <mat-select placeholder="Select Sector" name="dvdSector" id="dvdSector" #dvdSector>
              <mat-option [value]="'Thriller'">Thriller</mat-option>
              <mat-option [value]="'SciFi'">SciFi</mat-option>
              <mat-option [value]="'Animation'">Animation</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field>
            <input matInput name="producer" id="producer" #producer placeholder="Enter Producer">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="language" id="language" #language placeholder="Available Languages">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="subtitles" id="subtitles" #subtitles placeholder="Available Subtitles">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="actors" id="actors" #actors placeholder="Enter Actors">
          </mat-form-field>

          <mat-form-field>
            <input matInput name="duration" id="duration" #duration placeholder="Enter Duration">
          </mat-form-field>

          <button mat-icon-button style="width:40px">
            <button mat-fab color="primary"  (click)="postDvdData(dvdTitle, dvdIsbn, dvdSector, producer, language, subtitles, actors, duration);">Add <i class="material-icons">add</i></button>
          </button>
        </form>
      </mat-tab>
  </mat-tab-group>
</div>

<div class="responseMsg">{{responseMsg}}</div>